extends layout

block vars
  span.right
    span#name
      h3.inline Name: 
        b #{name}
    span#mode
      h3.inline  Mode: 
        b #{mode}
           
block append content
  div.col-xs-12.col-md-6#cams
        p #{cams.pin0}
        p #{cams.pin2}
  div(class='jumbotron')
    div(class='container-fluid')
      if(system_information)
        div.col-xs-12.col-md-6
          //- div.col-xs-12#name
          //-   h2 Name: 
          //-     b #{name}
          //- div.col-xs-8#mode
          //-   h2 Mode: 
          //-     b #{mode}
          //- div.col-xs-4#image-logo
          //-   if(alarms_active > 0)
          //-     img.img-responsive(src='/images/Error.png')
          //-   else
          //-     img.img-responsive(src='/images/Good.png')
          div.col-xs-12#alarms
            if(alarms_active > 0)
              h3 Alarms
              each alarm in alarms
                if(alarm.alarm_status)
                  p.alert.alert-danger= alarm.alarm_name
            //- else
            //-   p.alert.alert-info Everything is fine
      div.col-xs-12.col-md-6#camera-internal
        h3 Internal Camera
        div.spacer
          div
            a(href='/camera_internal')
              img.img-responsive#internal-1
              //- img.img-responsive#internal-2(style='visibility: visable;')
      //- div.col-xs-12.col-md-6#camera-external
      //-   h3 External Camera
      //-   div.spacer
      //-     div
      //-       a(href='/camera_external')
      //-         img.img-responsive#external-1
      //-         img.img-responsive#external-2(style='display:block; z-index: -1; visibility: hidden;')
      if(system_information)
        div.col-xs-12.col-md-6#table-system-info
          h3 System Information
          div.spacer
          table.table
            tr
              th Name
              th.table-right Value
            each row in system_information
              tr
                td.row-name= row.row_name
                td.table-right.row-info #{row.row_info} #{row.row_unit}
      if(fan_board_1)
        div.col-xs-12.col-md-6#table-fan-board-1
          h3 Fan Board
          div.spacer
          table.table
            tr
              th Name
              th.table-right Value
            each row in fan_board_1
              tr
                td.row-name= row.row_name
                td.table-right.row-info #{row.row_info} #{row.row_unit}
      if(fan_board_2)
        div.col-xs-12.col-md-6#table-fan-board-2
          h3 Fan Board 2
          div.spacer
          table.table
            tr
              th Name
              th.table-right Value
            each row in fan_board_2
              tr
                td.row-name= row.row_name
                td.table-right.row-info #{row.row_info} #{row.row_unit}
      if(current_loops)
        div.col-xs-12.col-md-6#table-current-loops
          h3 Current Loops
          div.spacer
          table.table
            tr
              th Name
              th.table-right Value
            each row in current_loops
              tr
                td.row-name= row.row_name
                td.table-right.row-info #{row.row_info} #{row.row_unit}
      div.col-xs-12.col-md-6.graph#graph-mains
      div.col-xs-12.col-md-6.graph#graph-battery
      div.col-xs-12.col-md-6.graph#graph-inverter
      div.col-xs-12.col-md-6.graph#graph-temp
      //- div.col-xs-12.col-md-6.graph#graph-outside
                              
block append styles
  script(src='/javascripts/canvasjs.min.js')
            
block append scripts
  script(src='/javascripts/camera.js')
  script(src='/javascripts/home.js')
