extends layout

block title
  | SETTINGS

block append content
  .wrapper-md
    ul#notification-list.list-group.gutter.list-group-lg.list-group-sp(ui-jq='sortable')&attributes(ips)
      each email in emails
        li.list-group-item(draggable='true', style='display: block;')
          span.pull-left
            i.fa.fa-sort.text-muted.fa.m-r-sm
          span.pull-right
            button.btn.btn-default2.btn-xs.btn-delete(data-email=email)
              i.fa.fa-fw.m-r.xs.fa-minus
            .btn-group.dropdown
              button.btn.btn-default2.btn-xs(data-toggle='dropdown')
                i.fa.fa-fw.m-r-xs.fa-plus
              ul.alert.alert-default.dropdown-menu.dropdown-menu-right
                li
                  .checkbox
                    label
                      input.check_all(type='checkbox')
                      | All
                each host in hosts
                  li
                    .checkbox
                      label
                        input.subscription(type='checkbox', data-target=host.ip, data-email=email, checked=((host.emails||[]).indexOf(email) != -1))
                        =host.alias ? host.alias : host.hostname.split('-')[1]
          .clear
            =email
    div.pull-right
      button#btn-save.btn.m-b-xs.w-xs.btn-success
        | Save
    div
      form#form-add.input-group
        input.form-control(type='text' placeholder='example@example.com')
        span.input-group-btn
          button#btn-add.btn.btn-info(type='button')
            | Add

block append fleet
  if(hosts)
    each host in hosts
      li
        a(href='//' + host.ip + '/chamber')
          i.icon-tag
          span= host.alias ? host.alias : host.hostname.split('-')[1]

block append alerts
  if(hosts)
    each host in hosts
      each alerts, types in host.alarms_active
        each alert in alerts
          li.list-group-item
            .clear
              i.fa.fa-exclamation-circle.m-r-xs
              span.alef= alert
            small.text-muted= host.alias ? host.alias : host.hostname.split('-')[1]
      
block append styles
      
block append scripts
  script(src='/js/notifications.js')