extends layout

block append content
  div(class='jumbotron')
    div#table-overview
      h3 Information
      div.spacer
      table(id='overview_table' class='table')
        tr
          th.col-xs-2 System
          th.col-xs-2 IP Address
          th.col-xs-2 Alarms
          th.col-xs-2 Mode
          th.col-xs-2 Status
        if(systems)
          each system in systems
            tr.overview-row
              td
                a(href='//' + system.hostname + '/dashboard')= system.hostname
              td
                a(href='//' + system.ip + '/dashboard')= system.ip
              td
                div.dropdown
                  button.btn.btn-info.btn-sm.dropdown-toggle(type='button' data-toggle='dropdown')
                    span.num_subs= system.alarms_active
                  if(system.alarms_active > 0)
                    ul.alert.alert-danger.col-xs-12.dropdown-menu
                      each val in system.alarms
                        if(val.alarm_status)
                          li= val.alarm_name
                  else
                    ul.alert.alert-info.col-xs-12.dropdown-menu
                      | Everything is fine
              td= system.mode
              if(system.alarms_active > 0)
                td
                  img(src='/images/Error.png')
              else
                td
                  img(src='/images/Good.png')
            
block append styles

block append scripts
  script(src='/javascripts/overview.js')