extends layout

block title
  = sitename

block append content
  .wrapper-md
    .panel.panel-default
      .table-responsive
        table#table-overview.table.dataTable.display(ui-jq='dataTable', ui-options='{ paging: false }', role='grid')
          thead
            tr.row
              th.sorting.col-xs-2 Aposento
              th.sorting.col-xs-1 Alarmas
              th.sorting.col-xs-2 Modo 
              th.sorting.col-xs-2 Luz Verde 
              th.sorting.col-xs-2 Luz Roja 
              th.sorting.col-xs-2 CO (ppm)
              th.sorting.col-xs-2 Voltaje Inversor (V)
              th.sorting.col-xs-2 Voltaje batería (V)
              
          tbody
            if(hosts)
              each host in hosts
                tr.row
                  td
                    a(href='//' + host.ip + '/chamber')= host.alias ? host.alias : 'blank'
                  td
                    if(host.alarms_total > 0)
                      div.dropdown
                        button.btn.btn-danger.btn-sm.dropdown-toggle(type='button' data-toggle='dropdown')
                          span.num_subs= host.alarms_total
                        ul.alert.alert-danger.col-xs-12.dropdown-menu
                          each t in host.alarms_active
                            each val in t
                              li= val
                    else
                      div.dropdown
                        button.btn.btn-info.btn-sm.dropdown-toggle(type='button' data-toggle='dropdown')
                          span.num_subs= host.alarms_total
                        ul.alert.alert-info.col-xs-12.dropdown-menu
                          | Todo Esta Bien
                  td
                    = host.mode
                  td
                    = host.strobe_green
                  td
                    = host.strobe_red
                  td
                    = host.co
                  td
                    = host.inverter
                  td
                    = host.battery

block append fleet
  if(hosts)
    each host in hosts
      li
        a(href='//' + host.ip + '/chamber')
          i.icon-tag
          span= host.alias ? host.alias : host.hostname.split('-')[1]

block append alerts
  if(hosts)
    each host in hosts
      each alerts, types in host.alarms_active
        each alert in alerts
          li.list-group-item
            .clear
              i.fa.fa-exclamation-circle.m-r-xs
              span.alef= alert
            small.text-muted= host.alias ? host.alias : host.hostname.split('-')[1]

block append styles

block append scripts
  script(src='/js/overview.js')
