extends layout

block title
  = sitename

block append content
  .wrapper-md
    .panel.panel-default
      .table-responsive
        table#table-overview.table.dataTable.display(ui-jq='dataTable', ui-options='{ paging: false }', role='grid')
          thead
            tr.row
              th.sorting.col-xs-3 Chamber
              th.sorting.col-xs-3 Alarms
              case localize
                when 'us'
                  th.sorting.col-xs-3 MAA Number
                when 'za'
                  th.sorting.col-xs-3 MAF Number
                default
                  th.sorting.col-xs-3 MA Number
              th.sorting.col-xs-3 Address
              th.sorting.col-xs-3 Type
          tbody
            if(hosts)
              each host in hosts
                tr.row
                  td
                    a(href='//' + host.ip + '/chamber')= host.alias ? host.alias : 'blank'
                  td
                    if(host.alarms_total > 0)
                      div.dropdown
                        button.btn.btn-danger.btn-sm.dropdown-toggle(type='button' data-toggle='dropdown')
                          span.num_subs= host.alarms_total
                        ul.alert.alert-danger.col-xs-12.dropdown-menu
                          each t in host.alarms_active
                            each val in t
                              li= val
                    else
                      div.dropdown
                        button.btn.btn-info.btn-sm.dropdown-toggle(type='button' data-toggle='dropdown')
                          span.num_subs= host.alarms_total
                        ul.alert.alert-info.col-xs-12.dropdown-menu
                          | Everything is fine
                  td
                    = host.hostname.split('-')[1]
                  td
                    = host.ip
                  td
                    case host.type
                      when 0 
                        | ELV
                      when 1 
                        | ELVP
                      when 2 
                        | Series 3
                      when 3 
                        | Series 4
                      when 4
                        | Battery Box
                      default
                        | Unknown


block append fleet
  if(hosts)
    each host in hosts
      li
        a(href='//' + host.ip + '/chamber')
          i.icon-tag
          span= host.alias ? host.alias : host.hostname.split('-')[1]

block append alerts
  if(hosts)
    each host in hosts
      each alerts, types in host.alarms_active
        each alert in alerts
          li.list-group-item
            .clear
              i.fa.fa-exclamation-circle.m-r-xs
              span.alef= alert
            small.text-muted= host.alias ? host.alias : host.hostname.split('-')[1]

block append styles

block append scripts
  script(src='/js/overview.js')
