.row
  div.col-xs-12.items
    table.table#table-aura-ext
      tr
        td.row-name Version
        td.table-right.row-info= aura_version_ext
      tr
        th Gas
        th Value
        th Calibration
        th Manufacture
      each gas, key in aura_ext
        if(gas.isRecent)
          tr(class=key)
            td.row-name= key
            td.table-right.row-info #{gas.value} #{gas.unit}
            td.table-right.row-cal #{gas.cal}
            td.table-right.row-man #{gas.man}
            