.row
  div.col-xs-12.items
    table.table#table-elvp
      tr
        td.row-name Mains Present
        td.table-right.row-info= elvp.mains ? 'Yes' : 'No'
      tr
        td.row-name Inverter Output
        td.table-right.row-info= elvp.inverter ? 'Yes' : 'No'
      tr
        td.row-name Emergency Bank Voltage
        td.table-right.row-info= (elvp.serial.V / 1000).toFixed(2) + ' V'
      tr
        td.row-name Standby Bank Voltage
        td.table-right.row-info= (elvp.serial.VS / 1000).toFixed(2) + ' V'
      tr
        td.row-name Current
        td.table-right.row-info= (elvp.serial.I / 1000).toFixed(2) + ' A'
      tr
        td.row-name Power
        td.table-right.row-info= elvp.serial.P + ' W'
      tr
        td.row-name Consumed Energy
        td.table-right.row-info= (elvp.serial.CE / 1000).toFixed(2) + ' Ah'