#tab_series4.tab-pane
  .row
    div.col-xs-12.items
      table.table#table-series4
        tr
          td.row-name Scrubber Name
          td.table-right.row-alias= series4.name
        tr
          td.row-name Mode
          td.table-right.row-mode= series4.mode
        each row in series4.system_information
          tr
            td.row-name= row.row_name
              td.table-right.row-info #{row.row_info} #{row.row_unit}

if(series4.fan_board_1)
  #tab_series4_fan_board_1.tab-pane
    .row
      div.col-xs-12.items
        table.table#table-fan-board-1
          each row in series4.fan_board_1
            tr
              td.row-name= row.row_name
              td.table-right.row-info #{row.row_info} #{row.row_unit}

if(series4.fan_board_2)
  #tab_series4_fan_board_2.tab-pane
    .row
      div.col-xs-12.items
        table.table#table-fan-board-2
          each row in series4.fan_board_2
            tr
              td.row-name= row.row_name
              td.table-right.row-info #{row.row_info} #{row.row_unit}

if(series4.current_loops)
  #tab_series4_current_loops.tab-pane
    .row
      div.col-xs-12.items
        table.table#table-current-loops
          each row in series4.current_loops
            tr
              td.row-name= row.row_name
              td.table-right.row-info #{row.row_info} #{row.row_unit}